.container {
  width: 70%;
  box-sizing: border-box;
}
.edit {
  margin: 10vh 10vh 10vh 0px;
  padding: 10px;
  /* background-color: rgb(20, 20, 233); */
  position: relative;
  box-sizing: border-box;
}
.Nama-Alamat,
.Motivasi-Umur {
  margin: 20px 10px 10px 50px;
  width: 20vmax;
}
.textarea {
  position: absolute;
  top: 15%;
  left: 40%;
  box-sizing: border-box;
}
.textarea textarea {
  width: 80vh;
  height: 30vh;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
.buttons {
  position: relative;
  margin: 10vh auto;
  width: 80%;
  height: 10%;
  /* background-color: #2785d1; */
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.buttons button {
  width: 150px;
  letter-spacing: 0.5pc;
}
.buttons button a {
  width: 100px;
  color: white;
  text-decoration: none;
}
body {
  background-color: rgb(19, 19, 71);
}
.content-edit {
  margin: 10em;
  width: 70%;
}
.container section div img {
  width: 45vh;
}
.container section {
  margin: 4em 4em 1em 0px;
  position: relative;
}
.container section div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6em;
}
.container section div>*{
  color: whitesmoke;
}
.content-edit section div article p {
  color: whitesmoke;
  opacity: 0.8;
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .image {
  margin: 5em;
  padding: 2em;
  width: 20%;
  position: absolute;
  right: 0;
  top: 50%;
  left: 70%;
}
.image img {
  width: 40vh;
}
