/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #131111;
}

/* Style for the body */
body {
  background-color: white;
}
body::-webkit-scrollbar{
  display: none;
}
/*navigasi*/
.navbar-nav {
  display: flex;
  justify-content: end;
  gap: 3em;
  align-items: center;
}
#navbarNav {
  display: flex;
  justify-content: end;
  margin-right: 5em;
}

/* Style for the nav and ul inside aside */

/* Style for the main content */
main {
  margin-top: 15vh;
  width: 100%;
  padding: 30px;
  flex-grow: 1;
}
.my-project .image,
main .image {
  margin: 20px;
  padding: 10px 5px;
  width: 40%;
  top: 10vh;
  left: 30%;
  position: fixed;
  display: flex;
  justify-content: center;
}
.my-project .image img,
.image img {
  width: 70%;
  opacity: 0.2;
}
main .services {
  width: 100%;
}
/* jumlah data user dan dan data yang ada di dalam databse */
.jumlah {
  margin: 10px auto;
  width: 90%;
  padding: 2em;
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.jumlah .user-data,
.jumlah .data-db {
  margin: 3vh;
  padding: 2em;
  width: 50%;
}

.name {
  position: absolute;
  left: 0;
}
.name p {
  color: white;
  font-size: 1.5em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  margin-left: 15vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 3vh;
  -webkit-border-radius: 3vh;
  -moz-border-radius: 3vh;
  -ms-border-radius: 3vh;
  -o-border-radius: 3vh;
}
.name {
  margin: 10em 10vh 10vh 25vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}
.name img {
  width: 35vh;
}
.hero img {
  width: 35vh;
}
.main-data {
  margin-top: 50vh;
  padding-bottom: 50vh;
}
/* ini untuk   responsive mobile*/
@media (minwidth: 476px) and (maxwidth: 500px) {
  body {
    position: relative;
  }
  .costum,
  .bg-primary {
    display: none;
  }
}
